@import url(//db.onlinewebfonts.com/c/6c79f7fd645c0d39b4ca10428237984a?family=Azo+Sans);
@font-face {font-family: "Azo Sans"; src: url("//db.onlinewebfonts.com/t/6c79f7fd645c0d39b4ca10428237984a.eot"); src: url("//db.onlinewebfonts.com/t/6c79f7fd645c0d39b4ca10428237984a.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/6c79f7fd645c0d39b4ca10428237984a.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/6c79f7fd645c0d39b4ca10428237984a.woff") format("woff"), url("//db.onlinewebfonts.com/t/6c79f7fd645c0d39b4ca10428237984a.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/6c79f7fd645c0d39b4ca10428237984a.svg#Azo Sans") format("svg"); }



h3 {
    font-family:Azo Sans;
}

#search-input {
    font-family:Azo Sans;
    width: 33%;
    margin: auto;
    font-size:80%;
    height: 36px;
    border: solid 0px;

}
select {
    cursor: pointer;
    font-size: 13px;
    width: 100%;
    border-color: grey;
    background: white;
    font-family:Azo Sans;
}
#left-box {

}

#box-select {
    display: flex;
    width: 33%;
    margin: auto 2% auto 0;
}
input {
    font-family:Azo Sans;
}

#search-btn-icon {
    cursor: pointer;
    background: white;
    font-family:Azo Sans;
    float: right;
    border: solid 0px;
    width: 8%;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHYSURBVHgBtZXLK0RhGMYfoizEykKMhVkJGRuakluJxSwsMBYTC3/F/AOzUbZKWfgLpqxEiRIZ95oal4ySWYgkt9wGz9t5p4yZOReOp37N15n3+57vfb/zvQfIVTkJkihJkVfyROJklnTgjwqQM/JpwTypxS80SK51kSSZJP2kkbSSEJkjD+SD7JAWOFBADdIwStJASvLEybN2ktDNrJMa2JCcQaZEYlBmY46XHMLIKFJgQ1kKqsElqYN9jZJbNfNYBUfVZArOJBlv6NwRs8Bi0qbjBTjTM1nRcR8sTKp0nIJzXeivx8rkXceWh5dHpfr7BguTpI6b4VyZOQlYmGzqWC6ek2zk1ZcWIwe/aBWcCXyEcdHsKgyj1Fuk0s4E6UVysSRtr414aTFpZQg2Ja1BepFkdESGkb90UqKwLi6xchl7SJHZ4t//9JFpGCWTrPbJEozXVN6iJtJJ6nXePYwynZIJsqbrpGEjo4guXKjNyxlIibrIiT67Ibtkm/jNMslIylQBozP3kmryQg7IKomRO507QGaQ/W2RDY6TZbgkuQJ7yM02rht0RZJ1DPnL6qpRNzkvYCSl88Ml+U2MjuGifAWMEnBZcseufpiE8A+Sj6B0DclgTB58AfbljqkLw+XYAAAAAElFTkSuQmCC) no-repeat;
    margin-right: 1%;
    background-position: left;" >
}

#left-box {
    display: block;
    width: 40%;
    height: 450px;
    margin-right: 2%;
    padding: 1%;
    font-family:Azo Sans;
    float: left;
    border-bottom: solid 8px #C4C4C4;
    border-top: solid 8px #C4C4C4;
    border-right: solid 8px #C4C4C4;
    border-left: solid 4px #C4C4C4;
    direction: rtl;
    overflow:auto;
    background: #c4c4c4;
}
#right-box {
    display: block;
    width: 60%;
    font-family:Azo Sans;
}
#map-with-search {
    display: flex;
    font-family:Azo Sans;
}
#map {
    height: 447px;
    width: 100%;
}
#filters {
    display: flex;
    font-family:Azo Sans;
    margin: auto;

}
.search-block-with-button {
    display: flex;
    border: solid 1px gray;
    margin-left: auto;
    width: 33%;
}

#brewery-info-template button {
    cursor: pointer;
    margin-top: 3%;
    width: 40%;
    font-size: 17px;
    color: white;
    background: #FEBD19;
    height: 15%;
    border: none;
}

#info-label {
    padding-left: 5%;
    font-weight: 500;
    font-size: 15px;
}

#main-logo {
    display: flex;
    margin-bottom: 2%;
}

#main-logo img {
    height: auto;
    width: 80%;
    padding: 1%;
}

#main-logo h3 {
    text-align: center;
    position: absolute;
    font-size: 30px;
    width: 100%;
    margin-top: 1%;
    font-weight: 900;
}
#left-box::-webkit-scrollbar {
    width: 20px;
    background-color: #F5F5F5;
}
#left-box::-webkit-scrollbar-thumb {
    background-color: #FEBD19;

}

#main-logo a {
    margin-left: 0.5%;
    margin-top: 3.2%;
    font-size: 25px;
    font-family: 'Roboto';
}

#brewery-info-template {
    border: solid 1px black;
    display: flex;
    direction:ltr;
    height: 250px;
    background: white;
}

#name {
    padding-left: 4%;
    width: 100%;
}

#image img {
    width: 24%;
}

#brewery-image img {
    margin-right: 5%;
    margin-bottom: 5%;
    float: right;
    position: relative;
    bottom: 29%;
}

#location {
    color: #6B6356;
    font-weight: 500;
    font-size: 17px;
}

#phone {
    color: #797979;
    font-weight: 500;
    font-size: 17px;
    display: block;
}

#main-logo-left {
    width: 20%;
    margin: auto 0;
}

#main-logo-right {
    width: 80%;
}


